.rt-editor .ql-container {
  height: auto !important;
  min-height: var(--rt-min-h, 240px);
}

/* 에디터 내부도 같은 최소 높이를 갖도록 */
.rt-editor .ql-editor {
  min-height: var(--rt-min-h, 240px);
}
.ql-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.ql-container {
  font-size: 16px;
}

.ql-editor {
  min-height: 300px; /* 기본 높이 */
}
